@import '../core/core';

.pokemon__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  @include tablet() {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
